<!DOCTYPE html>
<html data-ng-app="CAH">
<head>
  <meta charset="UTF-8">
  <title>Codes Against Humanity</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body data-ng-controller="CAHctrl as vm">
  <h2 class=questionSpace>
    {{vm.currentQuestion}}
  </h2>

  <ul id="guesses" data-ng-repeat="guess in vm.guesses track by $index">
    <!-- prevent errors caused by duplicate guesses by tracking each msg via unique index -->
    <li>{{guess}}</li>
  </ul>
  <form data-ng-submit="vm.sendGuess()">
    <input data-ng-model="vm.newGuess" autocomplete="off" />
    <button>Send</button>
  </form>


  <script src="/socket.io/socket.io.js"></script>
  <script>var socket = io()</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
