<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Codes Against Humanity</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
      <h1>Codes Against Humanity</h1>
        {{{body}}}
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
